﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CylinderHeating</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CylinderHeating.styles.css" asp-append-version="true" />
    <link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css"
    <link href="CylinderHeating.styles.css" rel="stylesheet" />
</head>
    <body>
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container-fluid">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">CylinderHeating</a>     
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                    </ul>
                    </div>
                </div>
            </nav>
        @if (TempData["Message"] != null)
        {
            <div class="alert alert-danger">
                @TempData["Message"]
            </div>
        }

        </header>
            <section>
                <div class="container">
                    <div class="user signinBx">
                        <div class="box"></div>
                        <div class="formBx">
                            <form action="/Login/" method="post">
                                <h2>Авторизация</h2>
                                <input type="text" name="Login" placeholder="Email" required />
                                <input type="password" name="Password" placeholder="Пароль" required />
                                <input type="submit" name="" value="Войти" />
                                <p class="signup">Еще не зарегистрировались? <a href="#" onclick="toggleForm();">Регистрация</a></p>
                            </form>
                        </div>
                    </div>
                    <div class="user signupBx">
                        <div class="formBx">
                            <form asp-action="Register" method="post">
                                <h2>Создание аккаунта</h2>
                                <input type="text" name="name" placeholder="Имя" required />
                                <input type="text" name="login" placeholder="Email" required />
                                <input type="password" id="pswrd" name="pass" placeholder="Пароль" required />
                                <input type="password" name="confirmPass" placeholder="Подтвердите пароль" required />
                                <input type="submit" name="" value="Зарегистрироваться" />
                                <p class="signin">Уже есть учетная запись? <a href="#" onclick="toggleForm();">Войти</a></p>
                            </form>
                        </div>
                        <div class="box"></div>
                    </div>
                </div>
            </section>
            <script type="text/javascript">
                function toggleForm() {
                    var container = document.querySelector('.container');
                    container.classList.toggle('active');
                }
                
            </script>
    <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)
    </body>
</html>

