﻿body {
    background: #eb9113;

}
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
}

/*Авторизация*/
section {
    position: relative;
    min-height: 100vh;
    background: ;
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 0;
}
section .container
{
    position: relative;
    left: 0;
    width: 800px;
    height: 500px;
    box-shadow: 0 15px 50px rgba(0,0,0,0.1);
    overflow: hidden;
}
section .container .user
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
}
section .container .user .imgBx
{
    position: relative;
    width: 50%;
    height: 100%;
    background: #ff0;
    transition: 0.5s;
}
section .container .user .imgBx img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
section .container .user .formBx
{
    position: relative;
    width: 50%;
    height: 100%;
    background: #ffffff;
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 40px;
    transition: 0.5s;
}
section .container .user .formBx form h2
{
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
    color: #555;

}
section .container .user .formBx form input
{
    position: relative;
    width: 100%;
    padding: 10px;
    background: #f5f5f5;
    color: #333;
    border: none;
    outline: none;
    box-shadow: none;
    margin: 8px 0;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 300;
}
section .container .user .formBx form input[type="submit"]
{
    max-width: 200px;
    background: #677eff;
    color: #ffffff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: 0.5s;
}
section .container .user .formBx form .signup
{
    position: relative;
    margin-top: 20px;
    font-size: 15px;
    letter-spacing: 1px;
    color: #555;
    font-weight: 300;
}
section .container .user .formBx form .signup a
{
    font-weight: 600;
    text-decoration: none;
    color: #677eff;
}

/*Регистрация*/

section .container .user .formBx form .field .input-field
{
    position: relative;
    height: 55px;
    width: 100%;
    background-color: red;
}
section .container .user .formBx form .field .input-field input
{
    height:100%;
    width:100%;
    outline: none;
}
section .container .signupBx
{
    pointer-events: none;
}
section .container.active .signupBx 
{
    pointer-events: initial;
}
section .container .signupBx .formBx 
{
    left: 100%;
}
section .container.active .signupBx .formBx 
{
    left: 0;
}
section .container .signupBx /*.imgBx*/ .box
{
    left: -100%;
}
section .container.active .signupBx /*.imgBx */ .box
{
    left: 0;
}


section .container .signinBx .formBx 
{
    left: 0;
}
section .container.active .signinBx .formBx 
{
    left: 100%;
}
section .container .signinBx /*.imgBx*/ .box
{
    left: 0%;
}
section .container.active .signinBx /*.imgBx*/ .box
{
    left: -100%;
}

@media (max-width: 991px)
{
    section .container
    {
        max-width: 400px;
    }
    section .container /*.imgBx*/ .box
    {
        display: none;
    }
}

.box {
    position: relative;
    width: 50%;
    height: 100%;
    background: #ff0;
    transition: 0.5s;
    background-image: linear-gradient(to right, #00ff00, #0000ff);
    animation: gradient 5s ease infinite;
}
@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }

    50% {
        background-position: 0% 100%;
    }

    100% {
        background-position: 0% 0%;
    }
        }