﻿@model HomeViewModel
@{
    ViewData["Title"] = "Расчет теплообмена в стационарном теплообмене в противоточном движении кусковых материалов и газов в плотном продуваемом слое";
}

@if (!string.IsNullOrEmpty(TempData["message"]?.ToString()))
{
    <div class="alert alert-danger">
        @TempData["message"]
    </div>
}


<div class="wrapper">
    <div class="box">
        <form action="/Home/Result" method="post">
            <p>
                Температура печи:<br>
                <input name="FurnaceTemp"  value="@Model.Variant?.FurnaceTemp" min="500" autocomplete="off" required />
            </p>
            <p>
                Диаметр цилиндра:<br>
                <input name="Diameter"  value="@Model.Variant?.Diameter" min="0.5" autocomplete="off" required />
            </p>
            <p>
                Начальная температура цилиндра:<br>
                <input name="InitCylTemp"  value="@Model.Variant?.InitCylTemp" min="0" autocomplete="off" required />
            </p>
            <p>
                Коэффициент теплопроводности:<br>
                <input name="HeatConductCoeff"  value="@Model.Variant?.HeatConductCoeff" min="0.05" autocomplete="off" required />
            </p>
            <p>
                Теплоемкость:<br>
                <input name="HeatCapacity"  value="@Model.Variant?.HeatCapacity" min="100" autocomplete="off" required />
            </p>
            <p>
                Плотность<br>
                <input name="Density"  value="@Model.Variant?.Density" min="100" autocomplete="off" required />
            </p>
            <p>
                Коэффициент теплоотдачи:<br>
                <input name="HeatTransferCoeff"  value="@Model.Variant?.HeatTransferCoeff" min="1" autocomplete="off" required />
            </p>
            <p>
                Температура поверхности цилиндра:<br>
                <input name="SurfaceTemp"  min="600" value="@Model.Variant?.SurfaceTemp" autocomplete="off" required />
            </p>
            <p>
                Имя:<br>
                <input name="Name" value="@Model.Variant?.Name" autocomplete="off" required />
            </p>
            <button type="submit">Рассчитать</button>
        </form>
    </div>
    <div class="box">
        <div class="cylinder"></div>
    </div>
</div>



@if (Model != null)
    {   
        <h2>Варианты расчетов</h2>
        {
            <table class="table table-border">
                <thead>
                    <tr>
                        <th class="vertical-rl">Название варианта</th>
                    <th class="vertical-rl">Температура печи</th>
                    <th class="vertical-rl">Диаметр цилиндра</th>
                    <th class="vertical-rl">Начальная температура цилиндра</th>
                    <th class="vertical-rl">Коэффициент теплопроводности</th>
                    <th class="vertical-rl">Теплоемкость</th>
                    <th class="vertical-rl">Плотность</th>
                    <th class="vertical-rl">Коэффициент теплоотдачи</th>
                    <th class="vertical-rl">Температура поверхности цилиндра</th>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var variant in Model.Variants)
                    {
                        <tr>
                            <td>@variant.Name</td>
                            <td>@variant.FurnaceTemp</td>
                            <td>@variant.Diameter</td>
                            <td>@variant.InitCylTemp</td>
                            <td>@variant.HeatConductCoeff</td>
                            <td>@variant.HeatCapacity</td>
                            <td>@variant.Density</td>
                            <td>@variant.HeatTransferCoeff</td>
                            <td>@variant.SurfaceTemp</td>
                            <td>
                                <a href="/Home/Index/?variantId=@variant.Id">Открыть</a>
                                <a href="/Home/Remove/?variantId=@variant.Id">Удалить</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }   
}

</>

<style>

  .wrapper {
            display: flex;
        }
        .box {
            width: 50%;
        }

    table {
        width: 100%;
        background: #f5dd42;
    }

    thead tr {
        background: #f55742;
    }

    th, td {
        padding: 1rem;
    }

    tbody tr {
        border-bottom: 1px solid #dddddd
    }

    tr:nth-of-type(2n) {
        background: hsl(0 0% 0% /0.1);
    }
    h2 {
        text-align:center;
    }

    .cylinder {
        width: 400px;
        height: 650px;
        border-radius: 100% / 80px;
        background: radial-gradient(50% 40px at 50% 40px, #0003 99.99%, #0000 0), radial-gradient(50% 40px at 50% calc(100% - 40px), #fff3 99.99%, #0000 0), linear-gradient(to bottom, #ff8c00, #ff0000);

    }
    
</style>