﻿@model CylinderHeatingOutput
@{
    ViewData["Title"] = "Result";
}
<div class="box">
    <div>
        <div id="grafico"></div>
    </div>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script>
        var trace1 = {
            x: @Json.Serialize(Model.Rows.Select(x => x.HeatTime).ToList()),
            y: @Json.Serialize(Model.Rows.Select(x => x.Tc).ToList()),
            type: 'scatter',
            name: 'Температура оси'
        };

        var trace2 = {
            x: @Json.Serialize(Model.Rows.Select(x => x.HeatTime).ToList()),
            y: @Json.Serialize(Model.Rows.Select(x => x.ActualSurfaceTemp).ToList()),
            type: 'scatter',
            name: 'Температура поверхности'
        };

        var data = [trace2, trace1];
        var layout = {
            title: "Нагрев цилиндра при граничных условиях 3 рода"
        }
        Plotly.newPlot('grafico', data, layout);
    </script>


    <div class="flex-container">
            <div class="flex-item item-1">Относительная разность температур в конце цилиндра</div>
            <div class="flex-item item-2">@Model.Rows[Model.Rows.Count-1].Op</div>
            <div class="flex-item item-1">Число теплового подобия Bi</div>
            <div class="flex-item item-2">@Model.Rows[Model.Rows.Count-1].Bio</div>
            <div class="flex-item item-1">Коэффициент температуропроводности стали</div>
            <div class="flex-item item-2">@Model.Rows[Model.Rows.Count-1].ConductTempCoef.ToString("0.0E-00")</div>
            <div class="flex-item item-1">Время нагрева</div>
            <div class="flex-item item-2">@Model.Rows[Model.Rows.Count-1].HeatTime</div>
            <div class="flex-item item-1">Число подобия Фурье</div>
            <div class="flex-item item-2">@Model.Rows[Model.Rows.Count-1].Fo</div>
            <div class="flex-item item-1">Относительная разность температур для оси цилиндра</div>
            <div class="flex-item item-2">@Model.Rows[Model.Rows.Count-1].Oc</div>
            <div class="flex-item item-1">Температура на оси цилиндра в конце нагрева</div>
            <div class="flex-item item-2">@Model.Rows[Model.Rows.Count-1].Tc</div>
        </div>

    
</div>
<style>

    .box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    .flex-container {
        flex-wrap: wrap;
        display: flex;
        margin-top: 20px;
    }

    .flex-item {
        padding: 10px;
        font: 500 30px "Roboto", sans-serif;
        color: black;
        text-align: center;
    }

    .item-1 {
        background-image: linear-gradient(45deg, #ff8177, #cf556c);
        width: 80%;
    }

    .item-2 {
        background: linear-gradient(45deg, #84fab0, #8fd3f4);
        width: 20%;
    }
</style>
