html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}
body {
    background: #eb9113;

}


.container {
    display: flex;
}
.form-input 
{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 40px;

}
.form-input input
{
    position: relative;
    width: 150%;
    padding: 10px;
    background: #f5f5f5;
    color: #333;
    border: none;
    outline: none;
    box-shadow: none;
    margin: 8px 0;
    font-size: 10px;
    letter-spacing: 1px;
    font-weight: 300;
}



.flex-container {
    border: 10px solid #7f00ff;
    flex-wrap: wrap;
    display: flex;
}
.flex-item {
    padding: 10px;
    font: 500 60px "Roboto", sans-serif;
    color: #fff;
    text-align: center;
    text-shadow: 4px 2px 0 rgba(0, 0, 0, 0.2);
}

.item-1 {
    background-image: linear-gradient(45deg, #ff8177, #cf556c);
    width: 80%;
}

.item-2 {
    background: linear-gradient(45deg, #84fab0, #8fd3f4);
    width: 20%;
}

.item-3 {
    background: linear-gradient(45deg, #a6c0fe, #f68084);
}

.item-4 {
    background: linear-gradient(45deg, #d4fc79, #96e6a1);
}

.item-5 {
    background: linear-gradient(45deg, #43e97b, #38f9d7);
}

.item-6 {
    background: linear-gradient(45deg, #a18cd1, #fbc2eb);
}

.item-7 {
    background: linear-gradient(45deg, #8e2de2, #4a00e0);
}

.item-8 {
    background: linear-gradient(45deg, #e1eec3, #f05053);
}

